<%= form_with(model: customer, class: "contents") do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul class="list-disc ml-6">
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:company_name].none?, "border-red-400 focus:outline-red-600": customer.errors[:company_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:contact_name].none?, "border-red-400 focus:outline-red-600": customer.errors[:contact_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:contact_email].none?, "border-red-400 focus:outline-red-600": customer.errors[:contact_email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:phone].none?, "border-red-400 focus:outline-red-600": customer.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :customer_status %>
    <%= form.text_field :customer_status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:customer_status].none?, "border-red-400 focus:outline-red-600": customer.errors[:customer_status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :memo %>
    <%= form.textarea :memo, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": customer.errors[:memo].none?, "border-red-400 focus:outline-red-600": customer.errors[:memo].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
