<div id="<%= dom_id product %>">
  <div>
    <strong>ID:</strong>
    <%= product.id %>
  </div>
  <div>
    <strong>商品コード:</strong>
    <%= product.code %>
  </div>
  <div>
    <strong>商品名:</strong>
    <%= product.name %>
  </div>
  <div>
    <strong>商品カテゴリー:</strong>
    <%= product.product_category.name %>
  </div>
  <div>
    <strong>商品価格:</strong>
    <%= product.price %>
  </div>
  <div>
    <strong>在庫状況:</strong>
    <%= product.stock %>
  </div>
  <div>
    <strong>在庫アラート:</strong>
    <%= product.alert_threshold %>
  </div>
  <div>
    <strong>販売状態:</strong>
    <%= product.is_active? ? "有効" : "停止" %>
  </div>
  <div>
    <strong>商品説明:</strong>
    <%= product.description %>
  </div>
 <div>
  <strong>作成日時:</strong>
  <%= product.created_at.strftime("%Y年%m月%d日 %H:%M") %>
</div>

<div>
  <strong>更新日時:</strong>
  <%= product.updated_at.strftime("%Y年%m月%d日 %H:%M") %>
</div>
</div>

