<div id="<%= dom_id product %>">
  <div>
    <strong>Code:</strong>
    <%= product.code %>
  </div>
  <div>
    <strong>Name:</strong>
    <%= product.name %>
  </div>
  <div>
    <strong>Category:</strong>
    <%= product.product_category.name %>
  </div>
  <div>
    <strong>Price:</strong>
    <%= product.price %>
  </div>
  <div>
    <strong>Stock:</strong>
    <%= product.stock %>
  </div>
  <div>
    <strong>Alert threshold:</strong>
    <%= product.alert_threshold %>
  </div>
  <div>
    <strong>Is active:</strong>
    <%= product.is_active? ? "Yes" : "No" %>
  </div>
  <div>
    <strong>Description:</strong>
    <%= product.description %>
  </div>
</div>
