<% content_for :title, "Products" %>
<%= link_to "新規作成", new_product_path %>

<form method="GET" action="/products">
  <select name="product_category_id">
    <option value="">すべて</option>
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"
        <%= "selected" if params[:product_category_id].to_s == category.id.to_s %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>
  <input type="submit" value="検索">
</form>

<% @products.each do |product| %>
  <%= product.code %>
  <%= product.name %>
  <%= "#{product.price}円"%>
  <%= product.stock %>
  <%= product.is_active? ?  "有効" : "停止" %>

  
  <%= product.alert_threshold %>
  <%= product.product_category.name%>
  <%= link_to "詳細", product_path(product.id) %>
<% end %>



