<% content_for :title, "Products" %>
<%= link_to "新規作成", new_product_path %>

<form method="GET" action="/products">
  <select name="product_category_id">
    <option value="">すべて</option>
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"
        <%= "selected" if params[:product_category_id].to_s == category.id.to_s %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>
  <input type="submit" value="検索">
</form>

<% @products.each do |product| %>
  <% row_style =
    if !product.is_active?
      "background-color: #eeeeee; color: #888888;"
    elsif product.stock <= product.alert_threshold
      "background-color: #ffe5e5;"
    end
  %>

  <div style="<%= row_style %>">
    <%= product.code %>
    <%= product.name %>
    <%= "#{product.price}円" %>
    <%= product.stock %>
    <%= product.is_active? ? "有効" : "停止中" %>
    <%= product.alert_threshold %>
    <%= product.status_label %>
    <%= product.product_category.name %>
    <%= link_to "詳細", product_path(product) %>
    <%= link_to "編集", edit_product_path(product) %>
    <%= button_to "削除", product, method: :delete, data: { turbo_confirm: "本当に削除しますか？" } %>
  </div>
<% end %>


