<% content_for :title, "Products" %>

<% if notice.present? %>
  <%= notice %>
<% end %>

<%= link_to "New product", new_product_path %>

<div>
  <%= form_with url: products_path, method: :get, local: true do %>
    <input type="text" name="title" value="<%= params[:title] %>">

<label for="select">項目を選択したください:</label>
<select name="product_category_id" id="select">
  <option value="">--選択肢:--</option>
  <option value=0>全て</option>
  <% @product_categories.each do |category| %>
    <option value="<%= category.id %>" <%= "selected" if params[:product_category_id].to_s == category.id.to_s %>><%= category.name %></option>
  <% end %>
</select>

    <button type="submit">送信</button>
  <% end %>
</div>

<% if @products.any? %>
  <% @products.each do |product| %>
    <%= product.name %>
    <%= link_to "Show", product %>
    <%= link_to "Edit", edit_product_path(product) %>
    <%= button_to "Destroy", product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  <% end %>

  <%= paginate @products %>
<% else %>
  No products found.
<% end %>
