<% content_for :title, "Showing product" %>

<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Showing product</h1>

<%= render @product %>

<%= link_to "Edit this product", edit_product_path(@product) %>
<%= link_to "Back to products", products_path %>
<%= button_to "Destroy this product", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
